@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

*, p {
    font-family: 'Inter';
    font-weight: 400;
}

.boxes {
    border: 1px solid #bfbfbf;
    height: 7rem;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.boxes:hover, .boxes.focus {
    background-color: #f3f3f3;
}

.boxes span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
}

footer {
    margin-top: auto;
}

@media screen and (max-width:360px) {
    .boxes span {
        font-size: 14px;
    }
}
